<% include partials/_header %>
  <div class="container">
  <div class="row">
  			<% for(var p = 1; p <=30; p++) { %>	
		            	<h1>Day<%=(p) %></h1>
  			<div class="col-md-12">
		      <table class="table table-bordered table-hover">
		        <thead>
		          <tr>
		            <td>n°</td>
		            <td>Name</td>
		            <td>SellIn</td>
		            <td>Price</td>
		          </tr>
		        </thead>
		        <tbody>
		          <% if (data) { %>
		            <% for(var i = 0; i < data.length; i++) { %>
		              <% if(data[i].name!='Full Coverage' && data[i].name!='Special Full Coverage'){
		              		if(data[i].price>0){
		              			if(data[i].name!='Mega Coverage'){
		              				if(data[i].name == 'Super Sale'){
		              					data[i].price = data[i].price-2;
		              				}else{
		              					data[i].price = data[i].price-1;
		              				} 
		              			}
		              		}
		              	}else{
		              		if(data[i].price<50){
		              			data[i].price = data[i].price +1;
		              				if(data[i].name=='Special Full Coverage'){
		              					if(data[i].sellIn < 11){
		              						if(data[i].price <50){
		              							data[i].price = data[i].price+1;
		              						}
		              					}
		              					if(data[i].sellIn <6){
											if(data[i].price <50){
												data[i].price = data[i].price+1;
											}		              					
		              					}
		              				}
		              		}
		              	}
		              	if(data[i].name!='Mega Coverage'){
		              		data[i].sellIn = data[i].sellIn -1;
		              	}
		              	if(data[i].sellIn < 0){
		              		if(data[i].name!= 'Full Coverage'){
		              			if(data[i].name!= 'Special Full Coverage'){
		              				if(data[i].price >0){
		              					if(data[i].name != 'Mega Coverage'){
		              						data[i].price = data[i].price-1;	
		              					}
		              				}
		              			}else{
		              				if(data[i].price < 50){
		              					data[i].price= data[i].price+1;
		              				}
		              			}
		              		}
		              	}%>
		              <tr>
		                <td><%= (i + 1) %></td>
		                <td><%= data[i].name %></td>
		                <td><%= data[i].sellIn %></td>
		                <td><%= data[i].price %></td>
		              </tr>
		            <% } %>
		           <% } %>		
		        </tbody>
		      </table>
		    </div>
		 <% } %>	   
  </div>
  </div>
<% include partials/_footer %>